spring:
  datasource:
    url: jdbc:mysql://localhost:3310/focus_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    enabled: false
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin

auth:
  service:
    url: http://localhost:8081
