version: '3.8'
services:
  mysql:
    image: mysql:8
    container_name: betterlife-db
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.d

  auth-service:
    build: ./auth
    ports:
      - "8081:8080"
    depends_on:
      - mysql

  todo-service:
    build: ./todo
    ports:
      - "8082:8080"
    depends_on:
      - mysql

  gateway-service:
    build: ./gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - todo-service