spring:
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: jdbc:mysql://localhost:3309/notify_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    enabled: false
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin

GOOGLE_APPLICATION_CREDENTIALS: "/Users/hyeongsh/Space/project/better-life/backend/msa/notify/src/main/resources/firebase/betterlifeboard-firebase-adminsdk-fbsvc-0220222e5e.json"